@font-face {
    font-family: 'Playtime';
    src: url('/fonts/playtime/playtime.eot');
    src: url('/fonts/playtime/playtime.eot?#iefix') format('embedded-opentype'),
         url('/fonts/playtime/playtime.woff') format('woff'),
         url('/fonts/playtime/playtime.ttf') format('truetype'),
         url('/fonts/playtime/playtime.svg#PlaytimeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playtime';
    src: url('/fonts/playtime/playtime-italic.eot');
    src: url('/fonts/playtime/playtime-italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/playtime/playtime-italic.woff') format('woff'),
         url('/fonts/playtime/playtime-italic.ttf') format('truetype'),
         url('/fonts/playtime/playtime-italic.svg#PlaytimeItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/open-sans/OpenSans-Regular.eot');
    src: url('/fonts/open-sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/open-sans/OpenSans-Regular.woff') format('woff'),
         url('/fonts/open-sans/OpenSans-Regular.ttf') format('truetype'),
         url('/fonts/open-sans/OpenSans-Regular.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/open-sans/OpenSans-Italic.eot');
    src: url('/fonts/open-sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/open-sans/OpenSans-Italic.woff') format('woff'),
         url('/fonts/open-sans/OpenSans-Italic.ttf') format('truetype'),
         url('/fonts/open-sans/OpenSans-Italic.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/open-sans/OpenSans-Bold.eot');
    src: url('/fonts/open-sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/open-sans/OpenSans-Bold.woff') format('woff'),
         url('/fonts/open-sans/OpenSans-Bold.ttf') format('truetype'),
         url('/fonts/open-sans/OpenSans-Bold.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/open-sans/OpenSans-BoldItalic.eot');
    src: url('/fonts/open-sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/open-sans/OpenSans-BoldItalic.woff') format('woff'),
         url('/fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype'),
         url('/fonts/open-sans/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
