.popup-gallery {
    .row {
        // margin-bottom: 1em;

        .columns {
            text-align: center;
            margin-bottom: 1em;
        }
    }
}

.mfp-container button {
    box-shadow: none; // Override site styles for the Magnific plugin
}